<!DOCTYPE html>
<html>
<head>

  <title>Zombie.io</title>
  <link rel="stylesheet" type = "text/css" href = "..\client\CSS\gameStyle.css" />
  

  <script type="text/javascript" src="../client/JS/main.js">
  </script>


</head>
<body>
  <div id= 'play-menu'>
    <h1>Zombie.io</h1>
    <p>
      Stay alive to get points and top the leaderboard.
      <br />
      <br />
      W, A, S, D to move.
      <br />
      Mouse to aim and left click to fire.
    </p>

    <hr />

    <p>
      Created by Team1WasTaken.
    </p>

    <hr />
    <input type="text" id="username-input" placeholder="Username" />
    <input type="button" value="Result" onclick="changeBGImage()">
    <hr/>

  </div>

  <div id="leaderboard">

    <table>

      <tr>
        <th>Username</th>
        <th>Score</th>
      </tr>

    </table>
  </div>

  <div id='playArea'>
  <div id='player' style="left: 200px; top: 200px;"></div>>
  </div>
  </div>
    
</body>
</html>